{% extends "base.html" %}

{% block content %}
<h1>Tell Us About Your Home</h1>
<p>Check all the features your home has. We'll create maintenance tasks based on your selections.</p>

<form method="POST">
    <div class="checkbox-group">
        <div class="checkbox-item">
            <input type="checkbox" id="has_hvac" name="has_hvac">
            <label for="has_hvac">HVAC System (Heating/Air Conditioning)</label>
        </div>
        
        <div class="checkbox-item">
            <input type="checkbox" id="has_gutters" name="has_gutters">
            <label for="has_gutters">Gutters</label>
        </div>
        
        <div class="checkbox-item">
            <input type="checkbox" id="has_dishwasher" name="has_dishwasher">
            <label for="has_dishwasher">Dishwasher</label>
        </div>
        
        <div class="checkbox-item">
            <input type="checkbox" id="has_smoke_detectors" name="has_smoke_detectors">
            <label for="has_smoke_detectors">Smoke Detectors</label>
        </div>
        
        <div class="checkbox-item">
            <input type="checkbox" id="has_water_heater" name="has_water_heater">
            <label for="has_water_heater">Water Heater</label>
        </div>
        
        <div class="checkbox-item">
            <input type="checkbox" id="has_water_softener" name="has_water_softener">
            <label for="has_water_softener">Water Softener</label>
        </div>
        
        <div class="checkbox-item">
            <input type="checkbox" id="has_garbage_disposal" name="has_garbage_disposal">
            <label for="has_garbage_disposal">Garbage Disposal</label>
        </div>
        
        <div class="checkbox-item">
            <input type="checkbox" id="has_washer_dryer" name="has_washer_dryer">
            <label for="has_washer_dryer">Washer/Dryer</label>
        </div>
        
        <div class="checkbox-item">
            <input type="checkbox" id="has_sump_pump" name="has_sump_pump">
            <label for="has_sump_pump">Sump Pump</label>
        </div>
        
        <div class="checkbox-item">
            <input type="checkbox" id="has_well" name="has_well">
            <label for="has_well">Well</label>
        </div>
        
        <div class="checkbox-item">
            <input type="checkbox" id="has_fireplace" name="has_fireplace">
            <label for="has_fireplace">Fireplace</label>
        </div>
        
        <div class="checkbox-item">
            <input type="checkbox" id="has_septic" name="has_septic">
            <label for="has_septic">Septic</label>
        </div>
        
        <div class="checkbox-item">
            <input type="checkbox" id="has_garage" name="has_garage">
            <label for="has_garage">Garage</label>
        </div>
    </div>
    
    <button type="submit">Save & Generate Tasks</button>
</form>
{% endblock %}